@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Anonymous Pro", monospace;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}
